.home{
    display: flex;

     .homeContainer{     
         flex: 6;

         .widgets, .charts{
             display: flex;
             padding: 20px;
             gap: 20px;
         }

         .charts{
             padding: 5px 20px;
         }

         .listContainer{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(139, 112, 236, 0.47);
            -moz-box-shadow: 2px 4px 10px 1px rgba(139, 112, 236, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(139, 112, 236, 0.47);
            border-radius: 10px;
            padding: 20px;
            margin: 20px;

            .listTitle{
                font-size: 16px;
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
         }
     }

}